* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* for destops */

.menu {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 50px;
    background-color: #0062cc;
    display:flex;
    position: fixed;
    z-index: 1;

}

.menu li{
    list-style-type: none;
    text-align: left;
}


    
.menu li a{
    color: white;
    text-decoration: none;
    text-align: left;
    display: block;
    padding: 13px 23px;
}

.menu-sub{
    display:none;
}

.menu li:nth-of-type(2):hover .menu-sub{
    display: block;
    background-color: #0062cc;
}

.menu li:hover{
   background-color: gray; 
} 

.space{
    width: 100%;
    height: 50px;
}

.logo {
    background:url(./images/logo.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    border-radius: 0px 0px 30% 30%;
   
}
.content{
    padding: 5%;
}


.content h1{
    color: #0072bd;
    text-align: center;
}

.content h3{
    padding: 2%px 5%;
    /* word-break:keep-all; */
    text-align: justify;
    /* color: #0072bd; */
}


.cac-danh-thang{
    background-color: #f2f2f2; 
    padding: 2%;
    margin-bottom: 2%;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Pangolin', cursive;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Sansita Swashed', cursive;
    overflow: auto;
 }

 .cac-danh-thang h2{
     padding-left: 3%;
 }


 .cac-danh-thang-item img {
    width: 100%;
    height: auto;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, o.3);
}

.cac-danh-thang-item img:hover {
    transform: scale(1.01);
    transition:transform 0.3s;
    transition: bg-detail 1s;

}    
.cac-danh-thang-item{
    box-sizing: border-box;
    padding: 0px 20px 20px 20px;
    /* padding-top: 0px; */
    /* margin: 20px; */
    text-align: center;
    /* border: snow    ; */
}   


.cac-danh-thang-item:hover{
    background-color: white;
    background-clip: content-box;
}

.cac-danh-thang-item-title{
    font-size: xx-large;
    text-align: center;
    padding-bottom: 80px auto;
}

.cac-danh-thang-item-detail{
    width: 100%;
    height: 200px;
    text-align: justify;
    padding: 0px 20px;
    overflow: hidden;
    text-overflow:ellipsis;
    
}

/* for mobile */
@media only screen and (max-width:768px){
    .logo, .content {
        display: none;
    }

}

/* for tablets */
@media only screen and (min-width:769px) and (max-width:992px){
    .logo, .content {
        display: none;
    }

}



